img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70%;
}

.container-reserve-component{
    width: 100%;
    padding-bottom: 25px;
    background-color: #a7a7aa;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-reserve-component{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.button-container button {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    width: 400px; 
    height: 350px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}